body {
    background-color: chocolate;
}

h1 {
    background-color: cornflowerblue;
    color: crimson;
    text-transform: uppercase;
}

button {
    background-color: aquamarine;
    margin: 13px;
    color: darkmagenta;
    text-transform: uppercase;
}

p {
    color: navy;
}